name: CI
on:
  push:
    tags:
      - "*"
    branches:
      - master
      - renovate/**
  pull_request:
env:
  ProjectName: ${{ github.event.repository.name }}
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  NET_TFM: net10.0
  NET_VERSION: 10.0.x

jobs:
  check_format:
    name: Check format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.NET_VERSION }}
      - run: dotnet format -v diag --verify-no-changes

  test:
    name: Run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.NET_VERSION }}
      - run: dotnet test -c Release

  build:
    needs: [test, check_format]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid:
          - win-x64
          - linux-x64
          - linux-arm64
          - osx-arm64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.NET_VERSION }}

      - name: Build
        shell: pwsh
        working-directory: src/${{ env.ProjectName }}.Desktop
        run: |
          dotnet publish -r ${{ matrix.rid }}

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ProjectName }}-${{ matrix.rid }}
          path: src/${{ env.ProjectName }}.Desktop/bin/Release/${{ env.NET_TFM }}/${{ matrix.rid }}/publish/

  nuget:
    needs: [test, check_format]
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        PackageName:
          - STUN

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.NET_VERSION }}

      - name: Build
        working-directory: src/${{ matrix.PackageName }}
        run: dotnet pack

      - name: Push nuget packages
        working-directory: src/${{ matrix.PackageName }}/bin/Release
        run: |
          dotnet nuget push *.nupkg -s https://nuget.pkg.github.com/HMBSbige -k ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
          dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NuGetAPIKey }} --skip-duplicate

  release:
    needs: [build, nuget]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v7

      - name: Package
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path builtfiles -Force > $null
          $rids = @('win-x64', 'linux-x64', 'linux-arm64', 'osx-arm64')
          foreach ($rid in $rids) {
            $artifactDir = "$env:ProjectName-$rid"
            $zip_path = "builtfiles/$env:ProjectName-${{ github.ref_name }}-$rid.7z"
            7z a -mx9 "$zip_path" $artifactDir
          }

      - name: Create a new GitHub release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: builtfiles/*
          immutableCreate: true
          updateOnlyUnreleased: true
